<a href='/turnorder'>
    <h2>Turn Order</h2>
</a>
<p>This page shows the characters that are involved in an individual encounter and displays the relevant stats.  
    Users can select an encounter from the dropdown menu, then add characters to or remove characters from an encounter.  
    Makes use of the M:M table Encounters_Characters, as well as Characters, Encounters, and Conditions.</p>
<a href='/encounters'>
    <h2>Encounters</h2>
</a>
<p>This page lists the current encounters.  Click here to add, update, or delete encounters.</p>
<a href='/characters'>
    <h2>Characters</h2>
</a>
<p>This page is for managing Characters.  Click here to add, update, or delete characters.</p>
<a href='/characterdetails'>
    <h2>Character Details</h2>
</a>
<p>Character details show the conditions and items that an individual character is holding. Click here to add or delete a character's conditions or items.  
    Users can select a character from the dropdown menu.  Makes use of the M:M table Conditions_Characters, the M:1 relationship between Characters and 
    Items, as well as the tables Characters, Conditions, and Items.</p>
<a href='/conditions'>
    <h2>Conditions</h2>
</a>
<p> The conditions page lists the availble conidtions and their effects.  Click here to add, update, or delete conditions.</p>
<a href='/items'>
    <h2>Items</h2>
</a>
<p>Characters may hold items.  Click here to add, update, or delete items.</p>
<a href='/reset'>
    <h2>Reset To Sample Data</h2>
</a>
<p>BE CAREFUL.  Click this link to delete all the current save data and reload to the sample data.</p>