<section>
    <p class="lead">
        Sorry. We couldn't find any free images of<br>
        "{{searchTerm}}".
    </p>
    <p class="lead">
        This might be because
        <ul>
            <li>The image you've searched for is not in the public domain. Try using a different search term.</li>
            <li>Search term case-sensitivity. Try capitalizing the first letter of proper nouns and leave the
                 rest of the search term in the lower-case. For example, instead of searching for "democratic 
                 republic of the congo", try "Democratic Republic of the Congo".</li> 
        </ul>
    </p>
</section>
</div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a class="btn btn-primary btn-lg" href="/">Try Again</a>
        </div>
    </div>
</div>